.cards{
    margin-top: 130px;
    text-align: center;
    margin-left: 200px;
}

body{
    background-color: rgb(144, 161, 46);
}
.dropdown{

    margin-top: 30px;
    margin-left: 30px;
}
.code{

    margin-top: -200px;
    margin-left: 70px;
}
#c1{
    margin-top: 10px;
    background-color: rgb(28, 156, 60);
}
#c2{
    margin-top: 10px;
    background-color: red;
}
#c3{
    margin-top: 10px;
    background-color: rgb(32, 78, 228);
}
#c4{
    margin-top: 10px;
    background-color: rgb(161, 17, 137);
}