.cards{
    margin-top: -10px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

body{
    background-color: rgb(144, 161, 46);
}
.dropdown{

    margin-top: 30px;
    margin-left: 20px;
}
.code{
margin-top: 10px;
    text-align: center;
    margin-right: 100px;
    color: brown;
}
#c1{
    margin-top: 10px;
    background-color: rgb(28, 156, 60);
}
#c2{
    margin-top: 10px;
    background-color: red;
}
#c3{
    margin-top: 10px;
    background-color: rgb(32, 78, 228);
}
#c4{
    margin-top: 10px;
    background-color: rgb(161, 17, 137);
}


#c1:hover {
    font-size: 150%;
    border-radius: 9px;
    background-color: rgb(255, 0, 242);
  }

#c2:hover {
    font-size: 150%;
    border-radius: 9px;
    background-color: rgb(255, 0, 228);
  }


#c3:hover {
    font-size: 150%;
    border-radius: 9px;
    background-color: rgb(255, 0, 228);
  }

   
      
      #c4:hover {
        font-size: 300%;
        border-radius: 9px;
        background-color: rgb(255, 0, 228);
      }

      
      #cname{
          color: rgb(69, 37, 211);
          font-size: 30px;
      }
      #code{
        color: rgb(69, 37, 211);
        font-size: 30px;
    }
